<header>
	<nav>
		<div class="row">
			<%= image_tag "logo.png", alt: "Bella's logo", class:"logo" %>
			<ul class="main-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">Testimonals</a></li>
			</ul>
		</div>
	</nav>
	<div class="woman-text-box">
		<h1>Bella’s Threading.</h1>
			<h2>Look Good, Feel Good!</h2>
				<p>You will be warmly welcomed and ensured a calm and relaxing <br>environment every visit - at Bella's you'll receive the VIP treatment you so deserve!</p>
					<a class="btn btn-full" href="#">BOOK AN APPOINTMENT</a>
	</div>
</header>