<header>
	<nav>
		<div class="row">
			<%= image_tag "logo.png", alt: "Bella's logo", class:"logo" %>
			<ul class="main-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">Testimonals</a></li>
			</ul>
		</div>
	</nav>
	<div class="woman-text-box">
		<h1>Bella’s Threading.</h1>
			<h2>Look Good, Feel Good!</h2>
				<p>You will be warmly welcomed and ensured a calm and relaxing <br>environment every visit - at Bella's you'll receive the VIP treatment you so deserve!</p>
					<a class="btn btn-full" href="#">BOOK AN APPOINTMENT</a>
	</div>
</header>

<section class="section-features">
	<div class="row">
		<i class="fas fa-spa icon-big"></i>
		<h2 class="service-header">Services</h2>
			<p class="Long-copy">
			The ancient art of threading has withstood the pressures of modern technology and urbanisation. Originating in central Asia, this technique was used to beautify brides and royalty, offering precision and control in achieving the most elegant set of eyebrows.</p>
	</div>
	<div class="row">
		<div class="col span-1-of-4 box">
			<h3>THREADING</h3>
				<p class="Long-copy">At Bella's only the highest quality 100% cotton thread is used to remove short rows of hair strands right from their follicle.</p>
		</div>
		<div class="col span-1-of-4 box">
			<h3>FACIAL</h3>
				<p class="Long-copy">Our facials incorporate customized Chakra massage techniques and natural products designed to balance specific energy centres, your Chakras.</p>
		</div>
		<div class="col span-1-of-4 box">
			<h3>FACE WAXING</h3>
				<p class="Long-copy">Our facials incorporate customized Chakra massage techniques and natural products designed to balance specific energy centres, your Chakras.</p>
		</div>
		<div class="col span-1-of-4 box">
			<h3>WAXING</h3>
				<p class="Long-copy"> Our facials incorporate customized Chakra massage techniques and natural products designed to balance specific energy centres, your Chakras.</p>
		</div>
	</div>
</section>